body, html{
    background: #f1f1f1;
    height: 100vh;
    overflow: hidden;
}

.outer {
    position:relative;
}

.dropdown-items {
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;
}

.calendar {
    margin: 0 auto;
    max-width: 1280px;
    min-width: 500px;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2) ,0 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.wrap {
    overflow-x: hidden;
    max-width: 1280px;
    height: 51vh;
    border-radius: 8px;
}

thead {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

thead th {
    text-align: center;
    width: 100%;
}

header {
  background: #fff;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

header h1 {
 font-size: 1.25rem;
 text-align: center;
 font-weight: normal;

}

tbody {
  top: 100px;
}

table {
  background: #fff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;

}

.headcol {
  width: 60px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 0rem 0;
  text-align: center;
  border: 0;
  position: relative;
  top: -6px;
  border-bottom: 1px solid transparent;
}

thead th {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

thead {
    z-index: 2;
    background: white;
    border-bottom: 2px solid #ddd;

}

tr, tr td {
  height: 20px;
}
td {
  text-align: center;
}
tr:nth-child(odd) td:not(.headcol) {
  border-bottom: 1px solid #e8e8e8;
}

tr:nth-child(even) td:not(.headcol) {
  border-bottom: 1px solid #eee;
}

tr td {
  border-right: 1px solid #eee;
  padding: 0;
}

tbody tr td {
  position: relative;
  vertical-align: top;
  height: 20px;
  padding: 0.25rem 0.25rem 0 0.25rem;
  width: auto;

}

.secondary {
  color: rgba(0, 0, 0, 0.4);
}


.checkbox {
   display: none;
}

.checkbox + label {
    border: 0;
    outline: 0;
    width: 100px;
    heigth: 100px;
    background: white;
    color: transparent;
    display: none;
}

.event {
  background: #0275d8;
  color: white;
  border-radius: 2px;
  text-align: left;
  font-size: 0.875rem;
  z-index: 2;
  top: 2px;
  left: 2px;
  right: 2px;
  padding: 0.5rem;
  overflow-x: hidden;
  transition: all 0.2s;
  cursor: pointer;
  position: absolute;
}

.event:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #0275d8;
}

.event.double {
    height: 550%;
}


.icon {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.dropdown-items{
    font-size: 20px;
}

#Brandname{
    font-weight: 200;
    font-size: 42px;
    color: #ffffff;
}
.row{
    margin-left: 10px;
}

#customSize{
    margin-left: 61em;
}

.col-xs-6{
    background-color: #eae9e9;
}

.col-xs-5{
    margin-left: 15px;
    background-color: #eae9e9;
    width: 47.5%;
    padding: 15px;
}

.courseColor{
    background-color: #ffffff;
    width: 97%;
    border-radius: 5px !important;
    margin-top: 10px;
    height: 43px;
}

.course{
    font-size: 24px;
    color: #000000;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#courseSelector{
    height: 80vh;
        overflow: auto;
}

#schedule{
    width: 47.7%;
    padding: 15px;
    margin-left: 50.8%;
    margin-top: 18em;
    background: #eae9e9;
}

p {
    margin: 0 !important;
}

.navbar-nav>li>a{
    padding: 20px 45px;
}

#CourseList-title{
    font-size: 27px;
    color: #000000;
}

#courseList {
    height: 215px;
    overflow: auto;
}

.navbar-default {
    background-color: #0275d8;
    border-color: #0275d8;
    font-size: 30px;
    font-weight: 500;
    border-radius: 0 !important;
}
.navbar-default .navbar-brand {
    color: #fbfeff;
    font-size: 40px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #fbfeff;
}
.navbar-default .navbar-nav > li > a {
    color: #fbfeff;
    -webkit-transition: color 0.5s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e6e6e6;
    -webkit-transition: color 0.5s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fbfeff;
    background-color: #0275d8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #e6e6e6;
    background-color: #0275d8;
}
.navbar-default .navbar-toggle {
    border-color: #0275d8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0275d8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fbfeff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fbfeff;
}
.navbar-default .navbar-link {
    color: #fbfeff;
}
.navbar-default .navbar-link:hover {
    color: #000000;
}

.table>tbody>tr>td{
    border-top: none;
}

.table>tbody>tr>td{
    border-right: none;
    padding: 0;
    padding-top: 10px;
}



.table>tbody>tr>td:last-child{
    width: 35px;
}

.courseColor>table>tbody>tr>td>button.btn {
    padding: 0 !important;
    border-color: #ffffff;
    color: red;
    font-size: 20px;
    background-color: #ffffff;
}

.courseColor>table>tbody>tr>td>button.btn:hover {
    padding: 0 !important;
    border-color: #ffffff;
    color: #a90000;
    font-size: 20px;
    background-color: #ffffff;
}

.courseColor>table>tbody>tr>td>button.btn:focus {
    padding: 0 !important;
    font-size: 20px;
    outline: none;
}

.accordiontable>tbody>tr>td>button{
    padding: 0 !important;
    float: right;
    color: #0275d8;
    font-size: 27px;
    border-color: #ffffff;
}

.accordiontable>tbody>tr>td>button:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #0256ac;
}

.accordiontable>tbody>tr>td>button:focus{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #0256ac;
    outline: none;
}

#removeClassBtn {
    padding: 0 !important;
    float: right;
    color: #f33d3a;
    font-size: 27px;
    border-color: #ffffff;
}

#removeClassBtn:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #a01715;
}

#removeClassBtn:focus{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #a01715;
    outline: none;
}

.addCourseButton {
  padding: 0 !important;
  float: right;
  color: #0275d8;
  font-size: 35px;
  margin-top: -7px;
  border-color: #ffffff;
}

.addCourseButton:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #0256ac;
}

.addCourseButton:focus{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #0256ac;
    outline: none;
}


/*
  Remove button
*/

.removeBtn {
  padding: 0 !important;
  float: right;
  color: #f33d3a;
  font-size: 35px;
  margin-top: -7px;
  border-color: #ffffff;
}

.removeBtn:hover{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #a01715;
}

.removeBtn:focus{
    background-color: #ffffff;
    border-color: #ffffff;
    color: #a01715;
    outline: none;
}


.nav-pills>li>a.MyCourses{
    font-size: 29px;
    font-weight: 500;
    cursor: pointer;
    padding: 3px; !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.largecaret {
    border-width: 6px;
}

.btn-primary{
    background-color: #0275d8;
}

.btn-primary:focus{
    background-color: #0275d8;
    outline: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #0275d8;
    cursor: default;
}

.nav-pills>li>a:hover{
    background-color: #c5c4c4;
}

.nav-pills>li>a.MyCourses:hover{
    background-color: #eae9e9;
}

td{
    font-size: 17px;
}

.form-control{
    display: inline;
}

@media (min-width: 1120px){

    .modal-lg {
        width: 1120px;
    }

}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fbfeff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #0275d8;
    }
}

@media (max-width: 1440px) {
    td{
        font-size: 13px;
    }

    .courseColor{
        height: 52px;
    }
}

@media (max-width: 1024px){
    #schedule{
        margin-left: 51.5%;
    }
}